/* body,header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 249, 255);
    font-family: "Roboto", sans-serif;
    /* padding-bottom: 5rem; */
    overflow-x: hidden;
    /* transition: 1s; */
}

/*                                                           Header                                                 */

.header {
    background-color: rgb(169, 222, 249);
    width: 100vw;
    height: 110px;
    display: flex;
    gap: 13rem;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    outline: black solid;
    /* transition: 1s; */
}

.header .buttons {
    display: flex;
    gap: 1rem;
}

.header .buttons .logout-icon {
    font-size: 33px;
    background-color: red;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    outline: solid black 1px;
}

.header .buttons .logout-icon:hover {
    background-color: rgb(207, 6, 6);
}

.header .buttons .settings-icon {
    font-size: 40px;
    background-color: white;
    padding: 8px;
    border-radius: 1rem;
    cursor: pointer;
    outline: solid black 1px;
}

.header .buttons .dark-mode {
    font-size: 35px;
    background-color: white;
    padding: 8px;
    border-radius: 1rem;
    cursor: pointer;
    outline: solid black 1px;
    height: 54px;
}

.header .buttons .dark-mode:hover {
    background-color: rgb(203, 198, 198);
}

.header .menu .menu-icon {
    font-size: 35px;
    cursor: pointer;
    background-color: white;
    padding: 8px;
    border-radius: 1rem;
    outline: solid black 1px;
}

.header .menu button {
    border: none;
    outline: none;
    border-radius: 1rem;
}

.header .menu .menu-icon:hover {
    background-color: rgb(196, 194, 194);
}
.header .search {
    position: relative;
    display: flex;
    /* align-items: center; */
}

.header .search .search-bar {
    outline: none;
    border: none;
    width: 25vw;
    height: 45px;
    padding-left: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 3px 1px 1px;
    outline: solid black;
}

.header .search .search-icon {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

.header .search .search-bar:hover {
    background-color: rgb(242, 242, 242);
}

.header .profile {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header .profile .username {
    font-weight: bold;
    font-size: 20px;
}

.header .profile .profile-icon {
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 1px 1px;
    border-radius: 2rem;
}

.header button {
    border-radius: 1rem;
    border: none;
}

.header .settings-icon:hover {
    background-color: rgb(181, 176, 176);
}

/*                                             Side Menu                                    */

.side-menu {
    float: left;
    background-color: white;
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    transition: 1s;
    margin-right: 5vw;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 7rem;
    outline: black solid 1px;
    border-radius: 10px;
}

.side-menu .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    /* transition: 0.3s; */
    visibility: hidden;
}


.side-menu .explore {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
}

.side-menu .explore .explore-text {
    font-size: 32px;
    font-weight: bold;
    color: red;
}

.side-menu .explore .explore-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.side-menu .explore .explore-section .home-text{
    font-size: 18px;
}

.side-menu .explore .explore-section .home-button {
    outline: black solid 1px;
    border-radius: 1rem;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.side-menu .explore .explore-section .home-icon {
    font-size: 35px;
}


.side-menu .profile .profile-icon {
    width: 100px;
    height: 100px;
    box-shadow: 2px 3px 1px 1px;
    border-radius: 5rem;
}

.side-menu .profile .username {
    font-size: 20px;
}

.side-menu .settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* transition: 0.3s; */
    visibility: hidden;
}

.side-menu .settings .settings-section {
    font-size: 32px;
    font-weight: bold;
    color: red;
}

.side-menu .settings .settings-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.side-menu .settings .settings-option .settings-icon {
    font-size: 30px;
    background-color: rgb(169, 222, 249);
    border-radius: 1rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    outline: solid black 1px;
}

.side-menu .settings .settings-option button {
    border-radius: 1rem;
    border: none;
}

.side-menu .settings .settings-option .settings-icon:hover {
    background-color: rgb(145, 182, 200);
}

.side-menu .settings .settings-option .settings-text {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.side-menu .settings .logout-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.side-menu .settings .logout-option .logout-icon {
    font-size: 30px;
    background-color: red;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    outline: solid black 1px;
}

.side-menu .settings .logout-option button {
    border-radius: 1rem;
    border: none;
}

.side-menu .settings .logout-option .logout-icon:hover {
    background-color: rgb(229, 51, 51);
}

.side-menu .settings .logout-option .logout-text {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/*                                               Create Posts                                                */

.create-post {
    margin-left: 15vw;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 60vw;
    height: 410px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    /* transition: 1s; */
    border-radius: 1rem;
    outline: black solid 1px;
}

.create-post .post-title {
    width: 490px;
    height: 50px;
    margin-left: 2rem;
    background-color: rgb(241, 250, 255);
    outline: none;
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    outline: black solid;
    font-size: 16px;
}

.create-post .post-title:hover {
    background-color: rgb(211, 218, 222);
}

.create-post .body {
    width: 80%;
    height: 100px;
    max-width: 90%;
    max-height: 12vh;
    margin-left: 2rem;
    background-color: rgb(241, 250, 255);
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    /* transition: 1s; */
    outline: black solid;
    font-size: 20px;
}

.create-post .body:hover {
    background-color: rgb(211, 218, 222);
}

.create-post .create-action {
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
}

.create-post .create-button {
    background-color: rgb(169, 222, 249);
    border: none;
    outline: solid black;
    border-radius: 2rem;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-post .create-button:hover {
    background-color: rgb(135, 170, 188);
}

/*                                                              Post Body                                       */

.posts-area {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: fit-content;
    height: fit-content;
    margin-left: 15vw;
}

.hidden {
    position: relative;
    width: 70vw;
    height: fit-content;
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.post-body {
    /* position: relative; */
    background-color: white;
    width: 60vw;
    height: fit-content;
    /* margin-left: 5vw; */
    border-radius: 1rem;
    /* transition: 1s; */
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    outline: solid black 1px;
}

.post-body .post-header {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    gap: 18vw;
    height: 200px;
    border-bottom: black 2px solid;
}

.post-body .post-header .left-side {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;
    /* transition: 1s; */
}

.post-body .post-header .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin-top: 4rem;
}

.post-body .post-header .right-side .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    /* position: absolute; */
    width: 250px;
    visibility: hidden;
    margin-left: 15rem;
    z-index: 1;
    gap: 1px;
}



.post-body .post-header .right-side .dots-icon {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    border-radius: 3rem;
    transition: 0.3s;
}

.post-body .post-header .right-side .dots-icon:hover {
    transition: 0.3s;
    background-color: rgb(202, 198, 198);
}

.post-body .post-header .right-side .dropdown-content .delete-option {
    display: flex;
    align-items: center;
}

.post-body .post-header .right-side .dropdown-content .delete-option .href {
    text-decoration: none;
}
.post-body .post-header .right-side .dropdown-content .edit-option .href {
    text-decoration: none;
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .delete-option
    .delete-button {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 250px;
    height: 40px;
    color: red;
    cursor: pointer;
    background-color: rgb(177, 187, 192);
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .delete-option
    .delete-button:hover {
    background-color: rgb(137, 144, 148);
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .delete-option
    .delete-button
    .delete-icon {
    font-size: 30px;
    color: red;
}

.post-body .post-header .right-side .dropdown-content .edit-option {
    display: flex;
    align-items: center;
}

.post-body .post-header .right-side .dots-button {
    border: none;
    border-radius: 1rem;
    background-color: transparent;
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .edit-option
    .edit-button {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 250px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(177, 187, 192);
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .edit-option
    .edit-button:hover {
    background-color: rgb(137, 144, 148);
}

.post-body
    .post-header
    .right-side
    .dropdown-content
    .edit-option
    .edit-button
    .edit-icon {
    font-size: 30px;
}

.post-body .post-header .author {
    font-size: 25px;
    font-weight: 500;
    width: 325px;
}

.post-body .post-header .profile-icon {
    width: 70px;
    height: 70px;
}

.post-body .div-title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.post-body .div-body {
    font-size: 30px;
    width: 48vw;
    margin-top: 4rem;
    margin-left: 8rem;
    overflow-wrap: break-word;
    /* transition: 1s; */
}

.show-more {
    margin-left: 10rem;
    margin-top: 5rem;
}

.show-more .show-button {
    background-color: rgb(169, 222, 249);
    border: none;
    outline: solid black;
    padding: 12px 2rem 12px 2rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.show-more .show-button:hover {
    background-color: rgb(135, 170, 188);
}

.footer {
    position: absolute;
    width: 59.7vw;
    bottom: 15px;
    border-top: solid black 2px;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding-top: 1rem;
    /* transition: 1s; */
    align-items: center;
}

.footer button {
    background-color: transparent;
    border: none;
}

.footer .comments-text {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.footer .comments-text:hover {
    text-decoration: underline;
}

.footer .comments-icon {
    cursor: pointer;
    font-size: 35px;
}

/*                                                            Media                                                      */

@media only screen and (max-width: 1519px) {
    .header {
        gap: 6vh;
    }

    .create-post {
        margin-left: 19.5vw;
        width: 910px;
    }

    .create-post .post-title {
        width: 30vw;
    }

    .post-body {
        width: 910px;
    }
    .posts-area {
        margin-left: 19.5vw;
    }
    .footer {
        width: 910px;
    }
}

@media only screen and (max-width: 880px) {
    .header {
        gap: 4vh;
    }
}

@media only screen and (min-width: 2727px) {
    .hidden .post-body .post-header {
        gap: 1200px;
    }
    .create-post {
        margin-left: 20rem;
        width: 1920px;
    }

    .create-post .post-title {
        width: 500px;
    }


    .post-body {
        width: 1920px;
    }
    .post-body .div-body {
        width: 1700px;
    }

    .posts-area {
        margin-left: 20rem;
    }
    .footer {
        width: 1920px;
    }
    .hidden {
        width: 1950px;
    }
}

/*                                                          Transitions                                                 */

.side-menu-transition {
    width: 300px;
    margin-right: 5vw;
}
